<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[ProductCatalogAPI.*]*</Include>
          <Exclude>[ProductCatalogAPI.*]*.Migrations.*</Exclude>
          <Exclude>[ProductCatalogAPI.Infrastructure]*.Designer</Exclude>
          <Exclude>[ProductCatalogAPI.Infrastructure.Persistence]*</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/*.Designer.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>